- content_for :page_title do
  = t('support.title', default: 'Support')

.public-layout
  .container
    .grid
      .column-0
        .box-widget
          .rich-formatting
            != @body.html_safe.presence

%script{type: 'text/javascript'}
  != @script
